@tailwind base;
@tailwind components;
@tailwind utilities;

/* Globales */
*::after,
*::before,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Main */
.container-items {
	/*display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 50px;
    width: auto;
    margin: 15px;*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr)); /* Cambio en las columnas del grid */
    gap: 50px;
    width: 90%; /* Ajustar el ancho del contenedor */
    margin: 15px auto; /* Centrar el contenedor */
    
}

.item {
	/*border-radius: 10px;
    border-color: #000;*/
    border-radius: 10px;
  border-color: #000;
  overflow: hidden; /* Asegurar que el contenido no se desborde */
  display: flex; /* Hacer que el contenido se comporte como una fila */
  flex-direction: column; /* Alinear el contenido en columna */
  justify-content: space-between; /* Espaciado entre los elementos */
    
    
}

.item:hover {
	box-shadow: 0 10px 20px yellow;
}

.item img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	transition: all 0.5s;
    
    
}

.item figure {
	overflow: hidden;
    
}

.item:hover img {
	transform: scale(1.2);
}

.info-product {
	padding: 15px 30px;
	line-height: 2;
	display: flex;
	flex-direction: column;
	gap: 10px;
}


.price {
	font-size: 18px;
	font-weight: 900;
    color: red;
}

.infobutton{
	
	width: 80px; /* Ancho del botón */
	height: 30px; /* Alto del botón */
	display: flex; /* Usamos flexbox para centrar el contenido */
	border-radius: 10px; /* Radio de las esquinas del borde */
  	border: 1px solid #000; /* Agregamos un borde para visualizar mejor el botón */
 	justify-content: center; /* Centramos horizontalmente */
	align-items: center; /* Centramos verticalmente */
	background-color: #000;
	color: #fff;
	
}
.infobutton:hover{
	box-shadow: 0px 0px 0px 2px #00fff2;
}
.buttontext{
	font-size: 16px;
	
}

.buttoncarrito {
	width: 150px; /* Ancho del botón */
	height: 30px; /* Alto del botón */
	display: flex; /* Usamos flexbox para centrar el contenido */
	border-radius: 10px; /* Radio de las esquinas del borde */
  	border: 1px solid #000; /* Agregamos un borde para visualizar mejor el botón */
 	justify-content: center; /* Centramos horizontalmente */
	align-items: center; /* Centramos verticalmente */
	background-color: #000;
	color: #fff;
	padding: 15px 10px;
	cursor: pointer;
}
.buttoncarrito:hover{
	box-shadow: 0px 0px 0px 2px #00fff2;
}

/*************************** Etilos del Modal ********************************/
.modal{
	width: auto;
	height: auto;
	align-items: center;
}